.mycarousel {
    padding-top:55px;
  .slide-image {
    background-size: cover;
    background-position: center center;
    width: 103%;
    height: 850px;
  }
}
@media screen and (max-width:1600px){
  .mycarousel {
    padding-top:55px;
    
  .slide-image {
    width: 103%;
    height: 550px;
  }
}
}
@media screen and (max-width: 1200px) {
  .mycarousel {
    .slide-image {
      height: 500px;
      // width: 102%;
    }
  }
}

@media screen and (max-width: 992px) {
  .mycarousel {
    padding-top: 79px;
    .slide-image {
      height: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  .mycarousel {
    .slide-image {
      height: 300px;
    }
  }
}
@media screen and (max-width: 576px) {
  .mycarousel {
    .slide-image {
      height: 200px;
    }
  }
}
