<footer class="myfooter">
  <div class="footer-content">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        
        <div class="footer-about">
            <h3>About Us</h3>
          <ul>
            <li><a>Terms Of Use</a> </li>
            <li><a>operating regulations</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Feedback & Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">

        <div class="footer-app">
          <h3 >Mobile App</h3>
          <i class="fa fa-apple"></i>
          <i class="fa fa-android"></i>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="footer-social">
          <h3 >Social</h3>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="author">
    <p class="text-center">design by KietHuynh</p>
  </div>
</footer>
<input type="text" value ={{myinput}}>
<button class="btn btn-success" (click) = "testfunction()">test</button>