<header class="header">
  <nav class="navbar navbar-expand-custom navbar-light mynav">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <button mat-icon-button class="mynav-icon">
        <mat-icon class="mynav-menu-icon">menu</mat-icon>
      </button>
    </button>
    <div class="mynav-logo ">
      <a class="navbar-brand text-white" href="#">THE CINEMA</a>
    </div>
    <div class="user">
      <div class="user-icon">
        <i class="fa fa-user-circle"></i>
      </div>
      <div class="login">
        <a class="login-text" [(ngModel)]="userValid" *ngIf="userValid;else elseContent" data-toggle="modal" data-target="#myModal">Login</a>
        <ng-template #elseContent>
          <a style="outline: none;color: #FAF0E6;" mat-button [matMenuTriggerFor]="afterMenu">{{userName}}</a>
          <mat-menu #afterMenu="matMenu">    
              <button style="outline: none;" mat-menu-item>Infomation</button>
              <button style="outline: none;" mat-menu-item (click)="LogOut()">Log out</button>
          </mat-menu>
        </ng-template>
      </div>
      
    </div>
    <!-- <div class="col-lg-6 col-md-8 col-sm-6">
        </div> -->
    <div class="col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <!-- <div class="user">
              <div class="login">
                <a href="#">Login</a>
              </div>
            </div> -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mynav-item">
          <!-- <div class="mynav-menu"> -->
          <li class="mynav-menu-item">
            <a mat-button routerLink="/home">Home</a>
          </li>
          <li class="mynav-menu-item">
            <a mat-button routerLink="/home/news">News</a>
          </li>
          <li class="mynav-menu-item">
            <a mat-button routerLink=".">Theater</a>
          </li>
          <li class="mynav-menu-item">
            <a mat-button routerLink=".">Contact Us</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </nav>
  <div class="line"></div>
  <!-- The Modal -->
</header>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content mymodal">
        <form #loginUser="ngForm" (ngSubmit)="LoginUser(loginUser.value)" class="myform">
          <div class="modal-tittle">
            <i class="fa fa-user"></i> USER
          </div>
          <div class="modal-user">
            <input type="text" #username ngModel name="Username" placeholder="username...">
            <input type="password" #password ngModel name="Password" placeholder="password...">
          </div>
          <button class="btn-login btn">Log in</button>
          <mat-checkbox>Check me!</mat-checkbox>
          <a routerLink="" class="register">Register here</a>
        </form>
      </div>
    </div>
  </div>
  
