.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mynav {
  background: #060f19;
}

.mynav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}

.mynav-menu .mynav-menu-item a {
  text-decoration: none;
  color: #fff;
  
}

.mynav-menu .mynav-menu-item {
  border: solid 1px #fff;
}
