<div class="myListChair">
  <div class="mylistchair-content row">
    <div class="col-lg-4 col-md-6">
      <div class="listinfo">
        <img class="film-img" [src]="filmPicture" alt="failed">
        <div class="rate">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <p>IMDb: {{filmRate}}</p>
        </div>
        <div class="film-name">
          <p>{{filmName}}</p>
        </div>
        <div class="film-info">
          <div class="film-info-item">
            <i class="fa fa-clock"></i> <span>121 min</span>
          </div>
          <div class="film-info-item">
            <i class="fa fa-bars"></i> <span>Action/Aventure/Sci-Fi</span>
          </div>
          <div class="film-info-item">
            <i class="fa fa-calendar-check"></i> <span>2018</span>
          </div>
        </div>
        <div class="film-content">
          <p>
            {{filmContent}}
          </p>
        </div>
      </div>
    </div>
    <div class="listchair col-lg-8 col-md-6">
        
      <div class="listchair-item">
          <h4 class="screen">SCREEN</h4>
        <ng-container *ngFor="let item of listChair.DanhSachGhe; let stt = index">
          <app-chair [chair]="item" (EventChooseChair) = "EventChooseChairParent($event,item)"></app-chair>
        </ng-container>
        <div class="listchair-status">
          <div class="status-item status-item">
            <i class="fa fa-square icon-1"></i> <span>Seat Available</span>
          </div>
          <div class="status-item">
            <i class="fa fa-square icon-2"></i> <span>Reserved Seat</span>
          </div>
          <div class="status-item">
            <i class="fa fa-square icon-3"></i> <span>Reserved Seat</span>
          </div>
        </div>
        <div class="listchair-price">
          <div style="width:20%" class="price-user">
            <p class="price-title">NAME</p>
            <p class="price-content">{{userName}}</p>
          </div>
          <div style="width:40%" class="price-ticket">
            <p class="price-title">TICKETS</p>
           <span  class="price-content" *ngFor = "let item of listChairBooking">
              {{item.MaGhe}},
            </span>
          </div>
          <div  style="width:20%" class="price-sum">
            <p class="price-title">PRICE</p>
            <span  class="price-content">{{sum  | number:'1.0-6'}} VNĐ</span>
          </div>
          
          <button (click) = "CheckOut()" class="btn-checkout" style="width:20%">
            CHECK OUT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
