.myListChair {
  padding-top: 100px;
  background: linear-gradient(to right, #0E1428, #0B1123, #0A0F20);
  width: 100%;

  .row {
    margin: 0;
  }

  .mylistchair-content {
    width: 100%;
    height: 1100px;
    color: #FAF0E6;

    .listinfo {
      height: 100%;
      padding: 0px 30px;

      background: rgba(58, 64, 71, .2);

      .film-name {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
      }

      .film-img {
        width: 100%;
        height: 300px;
      }

      .rate {
        margin-bottom: 20px;

        p {
          margin-bottom: 0;
        }

        i {
          color: #fdd300;
        }
      }

      .film-info {
        color: #2E8B57;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;
      }

      .film-content {
        letter-spacing: 1.5px;
      }
    }

    .listchair {
      display: flex;

      align-items: center;

      .listchair-item {
        position: relative;
        width: 100%;
        padding-top: 200px;
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(6, 50px);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        justify-content: center;
        background: rgba(58, 64, 71, .2);
        text-align: center;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-top: 3px solid #00FFFF;
        box-shadow: inset 0 7px 11px -7px #00FFFF; // shadow huong vao trong (only TOP)

        .screen {

          position: absolute;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
        }

        .listchair-status {
          position: absolute;
          color: #FAF0E6;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;

          .status-item {
            margin: 0 20px;

            span {
              margin-left: 10px;
            }

            .icon-1 {
              color: #708090;
            }

            .icon-2 {
              color: #DC143C;
            }

            .icon-3 {
              color: #7FFF00;
            }
          }
        }

        .listchair-price {
          position: absolute;
          bottom: 0;
          width: 100%;
          transform: translateY(100%);
          display: flex;
          justify-content: space-around;
          background: rgba(58, 64, 71, .3);
          padding: 10px 0;

          .price-title {
            font-weight: 500;
            color: #a9a9a9;
          }

          .price-content {
            font-weight: 500;
          }

          .btn-checkout {
            background: transparent;
            border: none;
            outline: none;
            color: #32CD32;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .myListChair {
    .mylistchair-content {
      height: 1800px;
      .listchair {


        .listchair-item {
          padding-top: 100px;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          grid-template-columns: repeat(6, 30px);
          grid-gap: 15px;
        }
      }
    }
  }
}
