.chair {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: #708090;
  border-radius: 50%;
  line-height: 30px;
}
.booked{
    background: #DC143C;
    cursor:no-drop;
}
.chairBooking{
    background: #7FFF00;
}