.myregister {
  background: linear-gradient(to right, #0D1327, #101830, #0C1226);
  color: #FAF0E6;
  height: 800px;
  padding-top: 100px;

  .myform {
    .btn-register {
      border: 1px solid #e85d6b;
      border-radius: 20px;
      background: transparent;
      outline: none;
      padding: 10px 20px;
      color: #FAF0E6;
      transition: .5s all;
      display: block;
      margin-top: 15px;

      &:hover {
        background: #e85d6b;
      }
    }

    .myform-option {
      background: transparent;
      color: #FAF0E6;
      option{
        color: #e85d6b;
      }
    }

    .myform-item {
      position: relative;
      width: 100%;
      padding: 5px 10px;
      border: none;
      border-bottom: 1px solid #696969;

      input {
        background: transparent;
        border: none;
        outline: none;
        color: #FAF0E6;
      }

      &:after {
        content: '';
        position: absolute;
        background: #e85d6b;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -2px;
        transition: .5s all;
      }

      &:focus-within:after {
        width: 100%;
      }

      &:focus-within {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
