<section class="mynews">
  <h3 class="text-center">NEWS</h3>
  <div class="mynews-content">
    <div class="main-news">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 main-item-1">
            <img src="./../../../../assets/images/news/3140.jpg" alt="">
          </div>
          <div class="col-lg-6 main-item-2">
            <div class="main-news-uptime">
              <p>2 Minute Ago - by KietHuynh</p>
            </div>
            <div class="main-news-title">
              <p> Is Arya Death? The questions we need answered in Game of Thrones</p>
            </div>
            <div class="main-news-content">
              <span>The saga comes to a close in what promises to be an epic finale. But who will kill Daenerys, will
                Bran
                warg again – and are the White Walkers gone for good?
                <br>
                Warning: this article contains spoilers.
                <br>
                <!-- Many of the big season eight questions have already been answered, like how the White Walkers are
                defeated, how Cersei bites the dust, and whether or not the showrunners knew where they were going all
                along. After a, shall we say, divisive penultimate episode, we are left with a deeply twisted
                happily-ever-after – the exiled ‘rightful’ queen Daenerys has claimed the throne, ready to rid Westeros
                of tyrants. Unfortunately, she blew everything up in the process. Where does that leave us for the
                finale? Here are the questions that still need to be answered. -->
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-news ">
      <div class="col-12">
        <div class="row">
          <div class=" col-lg-4 col-sm-12 sub-item-1">
            <div class="sub-news-img">

              <img src="./../../../../assets/images/news/8e77dfddd3f6ab4b819e2b3ca544c227a2c7ee7e.jpg" alt="">
            </div>
            <div class="sub-news-uptime">
              <p>1 Hour Ago - KietHuynh</p>
            </div>
            <div class="sub-news-title">
              This Rotten Week: Predicting Aladdin, Booksmart, And Brightburn Reviews
            </div>

          </div>
          <div class="col-lg-4 col-sm-12 sub-item-2">

            <div class="sub-news-img">
              <img src="./../../../../assets/images/news/308745a89ef62cc59ecd7bbbb28c9e071819a7ac.jpg" alt="">
            </div>
            <div class="sub-news-uptime">
              <p>1 Hour Ago - KietHuynh</p>
            </div>
            <div class="sub-news-title">
              Captain Marvel Just Passed Two More Movies On The List Of Highest-Grossing Films
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 sub-item-3">

            <div class="sub-news-img">
              <img src="./../../../../assets/images/news/d3a1940400c5cc5c90d11bc6f49789d535d85d86.jpg" alt="">
            </div>
            <div class="sub-news-uptime">
              <p>1 Hour Ago - KietHuynh</p>
            </div>
            <div class="sub-news-title">
              Moana Soundtrack Vs Frozen Soundtrack: Which Disney Movie Has Better Songs And Lyrics
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
