.mynews {
  background: linear-gradient(to right, #0D1327, #101830, #0C1226);
  color: #FAF0E6;
  padding: 60px 0;
  h3 {
    margin-bottom: 30px;
  }

  .mynews-content {
    padding: 30px;
    background: linear-gradient(to right, #0A0F20, #0B1123, #0A0F20);
    width: 90%;
    margin: 0 auto;
    .main-news {
      justify-content: flex-start;
      display: flex;
      margin-bottom: 20px;
      .main-item-1 {
        img {
          width: 100%;
          border-radius: 20px;
        }
      }
      .main-item-2 {
        .main-news-uptime {}
        .main-news-title {
          color: #2E8B57;
          font-weight: bold;
          font-size: 18px;
        }

        .main-new-content {}
      }
    }
    .sub-news {
      display: flex;
      .sub-news-img {
        img {
          width: 100%;
          height: 250px;
          border-radius: 20px;
        }
      }

      .sub-news-title {
        color: #2E8B57;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 992px){
  .mynews{
    .mynews-content{
      .main-news{}
      .sub-news{
        .sub-news-img{
          img{
            height: 100%;
          }
        }
      }
    }
  }
}