/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { 
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    box-sizing: border-box;
    font-size: 18px;
}
.owl-carousel .prev-slide {
  position: absolute;
  // background: url(./assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: 5%;
  bottom: 50%;
  color: #000;
  font-size: 60px;
}
 
.owl-carousel .next-slide {
  // background: url(./assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  position: absolute;
  right: 0;
  bottom: 50%;
  color: #000;
  font-size: 60px;
}
 
.owl-carousel .prev-slide:hover {
  color: rgb(34, 202, 237);
}
 
.owl-carousel .next-slide:hover {
  color: rgb(34, 202, 237);
}
//OWL CAROUSEL  